# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------
# Virtual environment
# -------------------------
venv/
.env/
.venv/

# -------------------------
# Flask
# -------------------------
instance/
*.db
*.sqlite3

# -------------------------
# Migrations (optional)
# -------------------------
migrations/

# -------------------------
# Data / datasets (optional)
# -------------------------
data/
*.csv

# -------------------------
# IDE / OS
# -------------------------
.vscode/
.idea/
.DS_Store

# -------------------------
# Logs
# -------------------------
*.log
